$font-primary-color: #161616;
$font-hover-color: #cc9a48;

.categoriesList {
    text-align: center;
}

.flex-column a {
    color: $font-primary-color;
    text-transform: uppercase;
}

.flex-column a:hover {
    text-decoration: underline;
    color: $font-hover-color;
}

h5 {
    text-transform: uppercase;
}