$icons-primary-color: #161616;
$icons-hover-color: #cc9a48;

.social {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

.eachIcon {
    margin: 5px;
    color: $icons-primary-color;
}

.eachIcon:hover {
    color: $icons-hover-color;
}

a {
    text-decoration: none;
}