$font-primary-color: #161616;
$font-hover-color: #cc9a48;

.mr-auto a {
    padding: 0 10px;
    text-decoration: none;
    color: $font-primary-color;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.mr-auto a:hover {
    text-decoration: underline;
    color: $font-hover-color;
}
