$font-primary-color: #161616;

header {
    justify-content: space-between;
    padding: 10px 0;
}

header a:hover {
    text-decoration: underline;
}

.mr-auto a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    color: $font-primary-color;
    font-size: 12px;
    letter-spacing: 1.25px;
}

.mr-sm-2 {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    color: $font-primary-color;
    font-size: 12px;
    letter-spacing: 1.25px;
}

.searchButton {
    margin: 0 10px;
    border: none;
    font-size: 12px;
    letter-spacing: 1.25px;
}