.jumbotron {
    margin-top: 15px;
    background-image: url("../../assets/random.png");
    height: 50vh;}

.jumbotron h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.jumbotron p {
    font-size: 14px;
    line-height: 25px;
}